@import 'tailwindcss';

#overview {
  overflow: hidden;
  width: 99%;
  height: 750px;
  object-fit: cover;
  z-index: 100;
  margin-left: .3rem;
  margin-right: .3rem;
  /* margin-top: 1.4rem; */
  background: url('../public/images/photo.jpg')center/cover no-repeat;
}
/* 
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/Vazirmatn-FD-Regular.ttf');
} */

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none
}
/* 
body {
  font-size: 1.1rem;
} */
